@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Start */
.px {
  @apply px-6 sm:px-20 2xl:px-32;
  /* for responsive padding x  */
}
.py {
  @apply pb-28 pt-24;
}
/* Universal End */

/* Navbar start */
.navbar-fixed {
  @apply fixed z-50;
}
/* Navbar End */

/* Project Start */
.card-project {
  @apply relative w-[325px] h-[200px] 2xl:w-[350px] 2xl:h-[225px] bg-slate-100 shadow-2xl;
}

.card-project-image {
  @apply absolute right-[10px] w-[305px] h-[135px] 2xl:w-[330px] 2xl:h-[160px] top-[10px] bg-slate-400 flex justify-center items-center text-5xl;
}

.card-project-btn {
  @apply mx-[10px] absolute w-[300px] top-[155px] 2xl:w-[325px] 2xl:top-[180px] flex justify-between items-center;
}

.preview-btn-project {
  @apply text-xl py-1 px-3 rounded-xl bg-sky-500 hover:bg-sky-300 text-slate-50;
}
/* Project End */

/* Agent Start */
.card-agent-odd {
  @apply w-[285px] h-[125px] shadow-2xl bg-slate-200 hover:bg-slate-100 -ml-16 sm:ml-16 flex items-center justify-between p-3;
}
.card-agent-even {
  @apply w-[285px] h-[125px] shadow-2xl  bg-slate-200 hover:bg-slate-100 ml-16 flex items-center justify-between p-3;
}
.card-image-about {
  @apply w-[100px] h-[100px];
}
.card-line-about {
  @apply w-[150px] h-[2px] bg-slate-900 mx-auto mt-[3px];
}
.card-text-about {
  @apply text-xl text-center;
}
/* Agent End */
